{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
        
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
Мои слова - мое богатство
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ass titties</h2>
        <p>Ass titties ass and titties ass ass titties titties ass and titties. ass ass ass ass ass ass ass ass ass ass ass ass ass ass .....</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
